.contact {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.contact__board {
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 660px) {
  .contact__board {
    height: 85vh;
    background-color: white;
  }
}
@media only screen and (min-width: 660px) and (max-width: 1700px) {
  .contact__board {
    height: calc(100vh - 100px);
  }
}
@media only screen and (min-width: 1700px) and (max-width: 3000px) {
  .contact__board {
    height: calc(100vh - 150px);
  }
}
@media only screen and (min-width: 3000px) {
  .contact__board {
    height: calc(100vh - 250px);
  }
}
.contact__board__left {
  width: 30%;
  height: 60%;
  background: linear-gradient(to right, rgb(255, 144, 255), magenta);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact__board__left__title {
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 4.5%;
  padding-top: 2%;
}
.contact__board__left__title h2 {
  font-weight: normal;
  font-size: 1.5vw;
}
.contact__board__left__field {
  height: 12%;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.contact__board__left__field hr {
  position: absolute;
  width: calc(92% - 2px);
  border: 1px solid black; /* Set the border color */
  bottom: 5px;
  left: 4%;
}
.contact__board__left__field__inputs {
  margin-left: 6%;
  font-weight: normal;
  background-color: transparent;
  border: none;
  width: 88%;
  outline: none;
  font-size: 1vw;
}
.contact__board__left__message {
  height: 61%;
  width: 90%;
  padding: 6%;
  padding-top: 0;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.contact__board__left__message ::placeholder {
  font-family: Arial, Helvetica, sans-serif;
}
.contact__board__left__message__input {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  height: 90%;
  width: 100%;
  align-self: center;
  background-color: transparent;
  border: none;
  padding: 1%;
  outline: none;
  resize: none;
  font-size: 1vw;
}
.contact__board__left__message hr {
  position: absolute;
  width: calc(92% - 2px);
  border: 1px solid black;
  bottom: 20%;
  left: 4%;
}
.contact__board__left button {
  position: absolute;
  bottom: 5%;
  height: 10%;
  width: auto;
  left: 4.5%;
  background: none;
  border: none;
}
.contact__board__left button:hover {
  text-decoration: underline;
  text-decoration-color: white;
}
.contact__board__right {
  width: 17%;
  height: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.contact__board__right__title {
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 6.5%;
  padding-top: 2%;
  font-weight: normal;
  font-size: 1.5vw;
}
.contact__board__right__links {
  flex-grow: 2;
  padding-left: 8.5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact__board__right__link {
  list-style-type: none;
  font-size: 1.3vw;
  height: 20%;
  width: 100%;
  display: flex;
  gap: 8%;
  align-items: center;
  white-space: nowrap;
  font-family: Arial, Helvetica, serif;
  color: inherit;
}
.contact__board__right__link a {
  display: flex;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
}
.contact__board__right__link a:hover {
  text-decoration: underline;
  text-decoration-color: magenta;
}
.contact__board__right__link img {
  width: 2vw;
  height: 2vw;
}
