.work {
  display: flex;
  background-color: aqua;
}
@media only screen and (min-width: 660px) and (max-width: 1700px) {
  .work {
    padding-top: 100px;
    height: calc(100vh - 100px);
  }
}
@media only screen and (min-width: 1700px) and (max-width: 3000px) {
  .work {
    padding-top: 150px;
    height: calc(100vh - 150px);
  }
}
@media only screen and (min-width: 3000px) {
  .work {
    padding-top: 250px;
    height: calc(100vh - 250px);
  }
}
.work__article {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 1.25%;
  padding-bottom: 1.25%;
  background-color: aquamarine;
}
@media only screen and (max-width: 660px) {
  .work__article {
    width: 100%;
    height: 50%;
  }
}
@media only screen and (min-width: 660px) and (max-width: 1700px) {
  .work__article {
    width: 50%;
    height: 80%;
  }
}
@media only screen and (min-width: 1700px) and (max-width: 3000px) {
  .work__article {
    width: 33.33%;
  }
}
@media only screen and (min-width: 3000px) {
  .work__article {
    width: 33.33%;
  }
}
.work__article__photo {
  width: 95%;
  padding-left: 3.25%;
}
.work__article__photo:nth-child(even) {
  padding-left: 3.25;
}
