.work {
  display: flex;
  overflow: scroll;
  gap: 3.5vw;
  justify-content: space-between;
  height: calc(100vh - 11.5vw);
  flex-wrap: wrap;
  padding-bottom: 3.5vw;
  padding-left: 3.25vw;
  padding-right: 3.25vw;
  width: 93.5vw;
}
@media only screen and (max-width: 660px) {
  .work {
    padding-top: 3.5vh;
    padding-bottom: 3.5vh;
    height: 93vh;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3.5vh;
  }
}
@media only screen and (min-width: 660px) and (max-width: 1700px) {
  .work {
    height: calc(100vh - 100px - 3.5vw);
    padding-top: calc(100px + 3.5vw);
  }
}
@media only screen and (min-width: 1700px) and (max-width: 3000px) {
  .work {
    padding-top: 150px;
    height: calc(100vh - 150px);
    padding-top: calc(150px + 3.5vw);
  }
}
@media only screen and (min-width: 3000px) {
  .work {
    padding-top: 250px;
    height: calc(100vh - 250px);
    padding-top: calc(250px + 3.5vw);
  }
}
.work__article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 660px) {
  .work__article {
    width: 100%;
    align-items: center;
    height: fit-content;
  }
}
@media only screen and (min-width: 660px) and (max-width: 1700px) {
  .work__article {
    width: 45vw;
    height: auto;
  }
}
@media only screen and (min-width: 1700px) and (max-width: 3000px) {
  .work__article {
    width: 45vw;
  }
}
@media only screen and (min-width: 3000px) {
  .work__article {
    width: 45vw;
  }
}
.work__article a {
  display: flex;
  justify-content: center;
}
.work__article__description {
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 1vw;
  font-size: 3vw;
  align-self: flex-start;
  padding-left: 4%;
}
.work__article__photo {
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}
.work__article__photo:hover {
  opacity: 0.5;
}
