.contact {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.contact__bg {
  height: 87vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 660px) and (max-width: 1000px) {
  .contact__bg {
    height: 90vh;
  }
}
@media only screen and (max-width: 660px) {
  .contact__bg {
    height: 85vh;
    background-color: white;
  }
}
.contact__board {
  width: 100vh;
  height: 50vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 660px) {
  .contact__board {
    align-items: flex-start;
    margin-top: 20vh;
    margin-left: 5vw;
  }
}
.contact__grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  width: 70%;
  height: auto;
  padding-left: 6vw;
}
.contact img {
  width: 30px;
  height: 30px;
}
.contact p,
.contact a {
  width: 30px;
  height: 30px;
  font-size: large;
  padding-top: 5px;
  white-space: nowrap;
  font-family: Arial, Helvetica, serif;
  color: inherit;
  text-decoration: none;
}
.contact p:hover,
.contact a:hover {
  text-decoration: underline;
  text-decoration-color: magenta;
}
