.work2 {
  display: flex;
  align-items: flex-end;
}
.work2__wrap {
  height: 87%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
}
.work2__outer {
  padding: 10px;
  overflow-y: hidden;
  width: 400px;
  height: 100%;
  width: 65%;
  border: 1px solid blue;
  height: 60vh;
}
.work2__container {
  overflow-x: auto;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.work2__item {
  flex: 1 0 100px;
  height: 70%;
  width: 33vw;
  display: inline-block;
  margin: 5px;
  border: 1px solid;
}
