@use "./mixin";

.about {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: auto;
    position: relative;
    background-color: black;
    max-height: 62vh;
    height: auto;
    overflow: scroll;

    // @include mixin.computer {
    // }
    // @include mixin.laptop {
    // }

    // @include mixin.tablet {
    // }

    // @include mixin.phone {
    // }
  }

  &__banner {
    width: 100%;
    height: 5vh;
    background-color: magenta;
    position: sticky;
    top: 0;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    height: calc(100% - 5vh);
    align-items: center;

    @include mixin.phone {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }

    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      padding: 5%;
      height: 15vw;
      width: 15vw;

      // @include mixin.tablet {
      // }
      // @include mixin.phone {
      // }
    }

    &__text {
      color: rgb(255, 255, 255);
      max-width: 45vw;
      padding: 5%;
      padding-top: 0;

      hyphens: auto;
      font-size: 1vw;
      display: flex;
      align-items: center;

      @include mixin.tablet {
      }

      @include mixin.phone {
      }
    }
  }
}
