@use "./mixin";

.work {
  display: flex;
  // background-color: aqua;
  overflow: scroll;
  gap: 3.5vw;
  justify-content: space-between;
  height: calc(100vh - 11.5vw);
  flex-wrap: wrap;

  padding-bottom: 3.5vw;
  padding-left: 3.25vw;
  padding-right: 3.25vw;
  width: calc(100vw - 6.5vw);

  @include mixin.phone {
    padding-top: 3.5vh;
    padding-bottom: 3.5vh;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3.5vh;
    flex-wrap: nowrap;
  }

  @include mixin.tablet {
    height: calc(100vh - 100px - 3.5vw);
    padding-top: calc(100px + 3.5vw);
  }

  @include mixin.laptop {
    padding-top: 150px;
    height: calc(100vh - 150px);
    padding-top: calc(150px + 3.5vw);
  }

  @include mixin.computer {
    padding-top: 250px;
    height: calc(100vh - 250px);
    padding-top: calc(250px + 3.5vw);
  }

  &__article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include mixin.phone {
      width: 100%;
      align-items: center;
      height: fit-content;
    }
    @include mixin.tablet {
      width: 45vw;
      height: auto;
    }
    @include mixin.laptop {
      width: 45vw;
    }
    @include mixin.computer {
      width: 45vw;
    }

    a {
      display: flex;
      justify-content: center;
    }

    &__description {
      font-weight: lighter;
      font-family: Arial, Helvetica, sans-serif;
      padding-top: 1vw;
      font-size: 3vw;
      align-self: flex-start;
      padding-left: 4%;
    }

    &__photo {
      width: 90%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
