@use "./mixin";

.work {
  display: flex;
  background-color: aqua;
  @include mixin.tablet {
    padding-top: 100px;
    height: calc(100vh - 100px);
  }

  @include mixin.laptop {
    padding-top: 150px;
    height: calc(100vh - 150px);
  }

  @include mixin.computer {
    padding-top: 250px;
    height: calc(100vh - 250px);
  }

  &__article {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 1.25%;
    padding-bottom: 1.25%;

    @include mixin.phone {
      width: 100%;
      height: 50%;
    }
    @include mixin.tablet {
      width: 50%;
      height: 80%;
    }
    @include mixin.laptop {
      width: 33.33%;
    }
    @include mixin.computer {
      width: 33.33%;
    }
    background-color: aquamarine;

    &__photo {
      width: 95%;
      padding-left: 3.25%;

      &:nth-child(even) {
        padding-left: 3.25;
      }
    }
  }

  // img {
  //   height: 40px;
  //   width: 40px;
  //   &:hover {
  //     transform: scale(1.3);
  //   }
  // }
}
